.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(150, 33, 33, 0.842);
    font-size: 2rem;
    min-height: 12vh;
    width: 100%;
    padding: 0 30px;
}

.h1 {
    color: rgb(48, 44, 44);
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    height: 7rem;
}

.anchords {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    font-size: 10px;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.button {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0.7rem;
    width: 150px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.897), rgba(255, 255, 255, 0.877));
    color: black;
    font-size: large;
}

.button:hover {
    background: rgba(255, 255, 255, 0.1);
    /* Opcional: efecto hover */

}


.link {
    text-decoration: none;
}

.ok {
    margin: 0;
    padding: 3px;
    font-size: 50px;
    color: rgb(53, 168, 53)
}

.dot {
    margin: 0;
    padding: 3px;
    font-size: 50px;
    color: rgb(168, 53, 53)
}