/* Box sizing rules */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Reset margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
fieldset,
legend,
textarea,
button,
input,
select {
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Reset typography */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Remove default button styling */
button,
input {
  overflow: visible;
  text-transform: none;
}

/* Normalize font sizes */
html {
  font-size: 16px;
}

/* Remove outline on focused elements */
:focus {
  outline: 0;
}

body {
  padding: 0;
  margin: 0;
  /* width: 100vw; */
  min-height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.767)), url("./assets/background.jpeg");
  background-position: fixed;
  background-size: cover;
}